.l-header.navbar {
	padding-top: 0;
	padding-bottom: 0;
}

i.fa {
	color: #fff;
	position: relative;
}

span.fa-counter {
	position: absolute;
	right: 12px;
	top: 12px;
	font-size: 17px;
	font-weight: bold;
}